.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 25%;
    padding: 10px;
    background-color: #f2f2f2;
    order: 1; /* Move the sidebar to the left of the content */
}

.content {
    width: 75%;
    padding: 10px;
    order: 2; /* Move the content to the right of the sidebar */
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f7f7f7; /* Change the background color to a grey tone */
}

h1 {
    font-size: 32px;
    text-align: center;
}

p {
    text-indent: 1em;
}

article {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    body {
        column-count: 1;
        column-gap: 40px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
