.container {
	display: flex;
	flex-direction: row;
}

.sidebar {
  width: 25%;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: justify;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
}


.content {
	width: 75%;
	padding: 10px;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 32px;
  text-align: center;
}

p {
  text-indent: 1em;
}

article {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  body {
    column-count: 1;
    column-gap: 40px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
